<ul class="book-list">
  {{#each books}}
    <li class="book-list-item">
      <h2>{{title}} by {{author}}</h2>

      {{# if isAvailable}}
      <p>Currently available!</p>
      {{/if}}

      <p>Owned by <a href="./users/{{owner}}">{{owner}}</a></p>
      <p>{{summary}}</p>
      <h3>reservations:</h3>
      <ul>
        {{#each reservations}}
        <li>
          <p>By {{name}} from {{formatDate from_date}} to {{formatDate to_date}}</p>
        </li>
        {{/each}}

      </ul>

      {{#if ../isAuthenticated}}

      <h4>Make a new reservation: </h4>
      <form method="POST" action="/add-reservation">
        <label>from: </label><input type="date" name="from_date"/>
        <label>to: </label><input type="date" name="to_date"/>
        <button type="submit">Submit</button>
      </form>

      {{else}}

      <h4><a href='./login'>Login</a> to make a reservation!</h4>

      {{/if}}
    </li>
  {{/each}}
</ul>
