<nav class="navbar">

  {{#if isAuthenticated}}

  <!-- <img id="navbar-github-avatar" src="{{avatar_url}}"/> -->
  <span id="navbar-welcome-message">Hello, {{auth_username}}!<span>

  {{else}}

  <span>Please <a class="navlink" href="{{base_url}}/login">login!</a></span>

  {{/if}}

  <a class="navlink" href="{{base_url}}/add">Add Book</a>
  <a class="current navlink" href="{{base_url}}/">Book List</a>

</nav>
